@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap");
/* mhealthblog and uhealthblog and healthblog and mnews and unews and news */
.area-content {
  background-color: #f4f4f4;
  display: flex;
  height: 91vh;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  flex-direction: column; }
  .area-content .bold {
    font-size: 1.3rem;
    margin-bottom: 15px;
    font-weight: bold;
    color: #63bc8a; }
  .area-content .header-mhor-menu {
    display: flex;
    margin: 15px;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px; }
    .area-content .header-mhor-menu .group-r {
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center; }
      .area-content .header-mhor-menu .group-r a {
        margin: 5px; }
    .area-content .header-mhor-menu .group-l h2 {
      color: #63bc8a; }
    .area-content .header-mhor-menu .group-l .no-dec {
      background-color: transparent; }
      .area-content .header-mhor-menu .group-l .no-dec h4 {
        color: #acacac;
        transition: 100ms; }
    .area-content .header-mhor-menu .group-l .no-dec:hover h4 {
      color: gray; }
    .area-content .header-mhor-menu form {
      display: flex; }
      .area-content .header-mhor-menu form input {
        width: 20vw;
        border: 2px solid #63bc8a;
        border-right: transparent;
        background-color: white;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
        padding: 5px; }
      .area-content .header-mhor-menu form button {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 5px;
        padding-right: 10px;
        background: #63bc8a;
        color: white;
        transition: 100ms;
        border: 2px solid #63bc8a;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px; }
        .area-content .header-mhor-menu form button ion-icon {
          font-size: 1.2rem; }
      .area-content .header-mhor-menu form button:hover {
        background: #56cc89;
        border: 2px solid #56cc89; }
    .area-content .header-mhor-menu a {
      position: relative;
      display: inline-block;
      padding: 5px 20px;
      background: #63bc8a;
      color: white;
      border-radius: 15px;
      text-decoration: none;
      margin-top: 10px;
      margin-bottom: 10px;
      transition: 100ms; }
    .area-content .header-mhor-menu a:hover {
      background: #56cc89; }
  .area-content .mhor-card-area-all {
    margin: 0 auto;
    width: 80%;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px; }
    .area-content .mhor-card-area-all .mhor-card {
      background-color: white;
      border-radius: 10px;
      overflow: hidden; }
      .area-content .mhor-card-area-all .mhor-card img {
        width: 150px;
        height: 150px;
        border-radius: 75px;
        margin: 20px; }
      .area-content .mhor-card-area-all .mhor-card .news-topic {
        color: #63bc8a;
        padding: 10px; }
      .area-content .mhor-card-area-all .mhor-card .details {
        color: gray;
        padding: 10px; }
        .area-content .mhor-card-area-all .mhor-card .details .bold {
          font-weight: bold; }
      .area-content .mhor-card-area-all .mhor-card .read-more {
        position: relative;
        display: inline-block;
        padding: 5px 10px;
        background: #63bc8a;
        color: white;
        border-radius: 15px;
        text-decoration: none;
        margin: 15px;
        transition: 100ms; }
      .area-content .mhor-card-area-all .mhor-card .read-more:hover {
        background: #56cc89; }

@media screen and (min-width: 600px) {
  .area-content .mhor-card-area-all {
    grid-template-columns: repeat(2, 1fr); } }
@media screen and (min-width: 900px) {
  .area-content .mhor-card-area-all {
    grid-template-columns: repeat(3, 1fr); } }

/*# sourceMappingURL=style-mhor.css.map */
