@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Prompt', sans-serif;
}


#navbar {
    background-color: #ffffff;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 850ms;
    position: fixed;
    width: 100%;
}

#navbar .nav-box-r {
    display: flex;
    /* justify-content: flex-end; */
    align-items: center;
    margin-right: 20px;
}

#navbar .nav-box-r a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background: #63bc8a;
    color: white;
    border-radius: 15px;
    text-decoration: none;
    margin: 5px;
    transition: 150ms;
}

#navbar .nav-box-r .signin {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background: white;
    /* color: white; */
    color: #63bc8a;
    border-radius: 15px;
    text-decoration: none;
    margin: 5px;
    font-weight: bold;
    border: 2px solid #63bc8a;
    transition: 150ms;
}

#navbar .nav-box-r .signin:hover {
    background: rgb(240, 240, 240);
}

#navbar .nav-box-r a:hover {
    background: #5eb483;
}

#navbar .nav-box-r .user-profile img {
    width: 35px;
    height: 35px;
    border-radius: 30px;
    margin: 5px;
}

#navbar .nav-box-r .user-profile {
    display: flex;
    align-items: center;
    border-radius: 30px;
    padding-right: 10px;
    transition: 100ms;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#navbar .nav-box-r .user-profile:hover {
    background-color: #f4f4f4;
}

#navbar .nav-box-r .normal-a {
    display: flex;
}

#navbar .nav-box-r .normal-a a {
    width: 35px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 35px;
    margin: 5px;
    background: #e4e6eb;
    color: #050505;
    border-radius: 30px;
    text-decoration: none;
}

#navbar .nav-box-r .normal-a a ion-icon{
    font-size: 1.2rem;
}

#navbar .nav-box-r .normal-a a:hover {
    background: #d2d4da;
}

#navbar .nav-box-r .normal-a a.active {
    /* background: #63bc8a; */
    background: #c2ffdc;

    /* color: white; */
    color: #04c758;
}

#navbar .nav-box-r .normal-a a.active:hover {
    background: #b8eed4;
}

#navbar .nav-box-l {
    display: flex;
    justify-content: start;
    align-items: center;
}

#navbar .nav-box-l img {
    height: 35px;
    margin-left: 20px;
    transition: 850ms;
}

#navbar.active .nav-box-l img {
    opacity: 0;
}

.menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    color: gray;
}

#nav-menu {
    background-color: #ffffff;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
}

#nav-menu.active {
    left: 0;
    transition: 350ms;
}

.nav-text {
    display: flex;
    justify-content: start;
    list-style: none;
    height: 50px;
    padding: 1rem;
/*}*/

/*.nav-text a {*/
    text-decoration: none;
    color: #7a7a7a;
    font-size: 1.2rem;
    margin-left: 1rem;
}

.nav-text:hover {
    background-color: rgba(144, 144, 144, 0.1);
    cursor: pointer;
}

.nav-menu-items {
    width: 100%;
}

#navbar-toggle {
    background-color: #ffffff;
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: start;
    align-items: center;
}

#navbar-toggle img {
    height: 35px;
    margin-left: 20px;
}

#navbar-toggle a {
    text-decoration: none;
}

/* #navbar.active {
    background-color: rgba(90, 90, 90, 0.5);
}

#area-content.active {
    background-color: rgba(80, 80, 80,0.5);
} */

.nav-section {
    height: 91vh;
    overflow: hidden;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent !important;
}

::-webkit-scrollbar-thumb {
    background: #63bc8a;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #63d193;
}

/* ======================== */

.noti {
    padding: 10px;
    width: 350px;
    background-color: white;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: fixed;
    top: -100%;
    right: 15px;
    border-radius: 10px;
    overflow: hidden;
    overflow-y: scroll;
    /* box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15); */
    box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.2);
}

.noti.active{
    top: 60px;
}

.noti .noti-item {
    background-color: white;
    margin: 1px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    border-radius: 10px;
}

.noti .noti-item:hover {
    background-color: rgba(144, 144, 144, 0.1);
}

.noti .noti-item img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin: 10px;
}
.noti .noti-item p {
    /* margin-left: 10px; */
    margin: 5px;
    /* padding-right: 5px; */
}

/* ======================== */

/* ======================== */

.more-options {
    padding: 10px;
    width: 350px;
    background-color: white;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: fixed;
    top: -100%;
    right: 15px;
    border-radius: 10px;
    /* box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15); */
    box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.2);
}

.more-options.active{
    top: 60px;
}

.more-options hr {
    background-color: #cccccc;
    height: 2px;
    border: none;
    margin: 5px;
}

.more-options .more-profile-item {
    background-color: white;
    margin: 1px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    border-radius: 10px;
}

.more-options .more-profile-item:hover {
    background-color: rgba(144, 144, 144, 0.1);
}

.more-options .more-profile-item img {
    width: 65px;
    height: 65px;
    border-radius: 40px;
    margin: 10px;
}

.more-options .more-profile-item h3 {
    margin-left: 10px;
}

.more-options .more-profile-item p {
    margin-left: 10px;
    font-size: 14px;
}



.more-options .more-item {
    background-color: white;
    margin: 1px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    border-radius: 10px;
}

.more-options .more-item:hover {
    background-color: rgba(144, 144, 144, 0.1);
}

.more-options .more-item p {
    margin-left: 10px;
}

.more-options .more-item .normal-a {
    width: 35px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 35px;
    margin: 5px;
    background: #e4e6eb;
    color: black;
    border-radius: 30px;
    text-decoration: none;
}

.more-options .more-item .normal-a ion-icon {
    font-size: 1.3rem;
}

.more-options .more-item:hover .normal-a {
    background: #d2d4da;
}

.more-options .more-item .item-detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 270px;
    margin-right: 10px;
}

/* ======================== */

/* #area-content {
    // height: 100vh;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 850ms;
    background-color: #f4f4f4;
} */

.box-head-empty {
    width: 100%;
    height: 65px;
    background-color: transparent;
}