@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap");
.area-content {
  background-color: #f4f4f4;
  display: flex;
  height: 91vh;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  flex-direction: column; }
  .area-content .card {
    background-color: white;
    width: 500px;
    min-height: 600px;
    border-radius: 10px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.25);
    padding: 10px;
    overflow: hidden;
    margin-top: 30px; }
    .area-content .card h1 {
      color: #63bc8a;
      margin-top: 5px; }
    .area-content .card .content {
      width: 100%;
      height: 500px;
      border-radius: 20px;
      overflow: hidden;
      overflow-y: scroll;
      padding: 5px; }
      .area-content .card .content .content-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 50px;
        background-color: #f7f7f7;
        text-decoration: none;
        color: black;
        border-radius: 10px;
        margin: 3px; }
        .area-content .card .content .content-item .box-l {
          display: flex;
          text-align: center;
          align-items: center;
          justify-content: center; }
          .area-content .card .content .content-item .box-l .bg-icon {
            width: 40px;
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            height: 40px;
            margin: 5px;
            margin-right: 10px;
            background: #e4e6eb;
            color: #050505;
            border-radius: 20px;
            text-decoration: none; }
            .area-content .card .content .content-item .box-l .bg-icon ion-icon {
              font-size: 1.6rem; }
        .area-content .card .content .content-item .box-l.active .bg-icon {
          background: #f7e1a2; }
        .area-content .card .content .content-item .box-l.active ion-icon {
          color: #e4ab00; }
        .area-content .card .content .content-item #icon-more {
          margin: 10px;
          font-size: 1.2rem; }
        .area-content .card .content .content-item #icon-more.active {
          transform: rotate(180deg);
          color: #cfa420; }
      .area-content .card .content .content-item:hover {
        background-color: #f1f1f1; }
        .area-content .card .content .content-item:hover .bg-icon {
          background-color: #cfd2d8; }
      .area-content .card .content .content-item.active {
        background: #fff1c8; }
      .area-content .card .content .content-item.active:hover {
        background: #ffeebd; }
        .area-content .card .content .content-item.active:hover .bg-icon {
          background: #eed99a; }
      .area-content .card .content li {
        display: flex;
        align-items: center;
        padding-left: 50px;
        list-style: none;
        background-color: #fff9e6;
        border-radius: 10px;
        height: 0px;
        overflow: hidden;
        margin: 3px;
        text-align: start; }
        .area-content .card .content li h4 {
          margin-top: 5px;
          color: black;
          margin-left: 20px; }
        .area-content .card .content li p {
          color: gray;
          margin-left: 30px;
          margin-bottom: 5px; }
        .area-content .card .content li ion-icon {
          color: #ffbf00;
          font-size: 1.3rem; }
        .area-content .card .content li img {
          width: 50px;
          height: 50px;
          border-radius: 25px; }
      .area-content .card .content li.active {
        height: 65px; }
  .area-content .zone {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
    margin: 10px; }
    .area-content .zone h1 {
      color: #63bc8a; }
    .area-content .zone .card-slide-area {
      width: 100%;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center; }
      .area-content .zone .card-slide-area .swiper-container {
        width: 80%;
        overflow: hidden; }
        .area-content .zone .card-slide-area .swiper-container .swiper-button-next {
          right: -10px; }
    .area-content .zone .swiper-slide {
      min-width: 150px;
      text-align: center;
      font-size: 18px;
      background: #fff;
      border-radius: 10px;
      overflow: hidden;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center; }
      .area-content .zone .swiper-slide .news-card img {
        width: 100%; }
      .area-content .zone .swiper-slide .news-card .news-topic {
        color: #63bc8a;
        padding: 10px; }
      .area-content .zone .swiper-slide .news-card .details {
        color: gray;
        padding: 10px;
        max-height: 18vh;
        overflow: hidden; }
      .area-content .zone .swiper-slide .news-card .details::before {
        content: '';
        position: absolute;
        bottom: 57.2px;
        left: 0;
        width: 100%;
        height: 70px;
        background: linear-gradient(transparent, #fff); }
      .area-content .zone .swiper-slide .news-card .read-more {
        position: relative;
        display: inline-block;
        padding: 5px 10px;
        background: #63bc8a;
        color: white;
        border-radius: 15px;
        text-decoration: none;
        margin-top: 10px;
        margin-bottom: 10px;
        transition: 100ms; }
      .area-content .zone .swiper-slide .news-card .read-more:hover {
        background: #56cc89; }
    .area-content .zone .swiper-pagination-bullet {
      background-color: #63bc8a; }
  .area-content .swiper-pagination {
    position: relative;
    margin-top: 10px; }
  .area-content .swiper-button-next, .area-content .swiper-button-prev {
    color: #63bc8a; }
  .area-content .swiper-button-next {
    margin-right: 20px; }
  .area-content .swiper-button-prev {
    margin-left: -10px; }
  .area-content .swiper-button-next:hover, .area-content .swiper-button-prev:hover {
    color: #63d193; }
  .area-content .swiper-pagination-bullet {
    background-color: #63bc8a; }
  .area-content .swiper-3d .swiper-slide-shadow-left,
  .area-content .swiper-3d .swiper-slide-shadow-right {
    background-image: none; }
  .area-content .swiper-container2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .area-content .swiper-container2 .swiper-wrapper .swiper-slide .banner {
      width: 100%; }
    .area-content .swiper-container2 .swiper-wrapper .swiper-pagination-bullet {
      background-color: #63bc8a; }
    .area-content .swiper-container2 .swiper-pagination {
      position: relative;
      margin-top: -20px; }

/*# sourceMappingURL=style-about.css.map */
