@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');

/* mhealthblog and uhealthblog and healthblog and mnews and unews and news */

// $BGcolor:#63bc8a;
$BGcolor:#f4f4f4;
$Cardcolor:white;
$labelcolor:#F2DC99;
$Topiccolor: #63bc8a;
// * {
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
//     font-family: 'Prompt', sans-serif;
// }

.area-content {
    background-color: $BGcolor;
    display: flex;
    height: 91vh;
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    // position: relative;
    flex-direction: column;

    .header-promotion-menu {
        display: flex;
        margin: 15px;
        width: 90%;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        padding: 10px;
        h2 {
            color: $Topiccolor;
        }
        a {
            position: relative;
            display: inline-block;
            padding: 5px 20px;
            background: $Topiccolor;
            color: $Cardcolor;
            border-radius: 15px;
            text-decoration: none;
            margin-top: 10px;
            margin-bottom: 10px;
            transition: 100ms;
        }

        a:hover {
            background: #56cc89;
        }
    }

    .promotion-card-area-all {
        margin: 0 auto;
        max-width: 90%;
        margin-bottom: 20px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 30px;
        
        .promotion-card {
            text-decoration: none;
            width: 100%;
            background-color: $Cardcolor;
            border-radius: 10px;
            // overflow: hidden;
            transition: 300ms;

            position: relative;
            i {
                position: absolute;
                top: 15px;
                left: -10px;
                width: 25%;
                min-width: 65px;
                height: 35px;
                background-color: rgb(255, 81, 81);
                border-radius: 30px;
                border-bottom-left-radius: 0;
                border-top-left-radius: 25px;

                display: flex;
                justify-content: center;
                text-align: center;
                align-items: center;

                font-size: 20px;
                color: white;
                font-weight: bold;
            }

            i::before {
                content: '';
                position: absolute;
                top: 35px;
                left: 0px;
                width: 10px;
                height: 10px;
                background-color: rgb(255, 81, 81);
            }

            i::after {
                content: '';
                position: absolute;
                top: 35px;
                left: 0px;
                width: 10px;
                height: 20px;
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
                background-color: rgb(185, 43, 43);
            }

            img {
                width: 100%;

                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }

            h3 {
                color: $Topiccolor;
                padding: 10px;
            }

            .details {
                color: gray;
                padding: 10px;
            }
        }

        .promotion-card:hover {
            transform: scale(1.1);
        }

        
    }
}


@media screen and (min-width: 600px){
    .area-content {
        .promotion-card-area-all {
            grid-template-columns: repeat(2,1fr);
        }
    }
}

@media screen and (min-width: 900px){
    .area-content {
        .promotion-card-area-all {
            grid-template-columns: repeat(3,1fr);
        }
    }
}