@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');

// $BGcolor:#63bc8a;
$BGcolor:#f4f4f4;
$Cardcolor:white;
$labelcolor:#F2DC99;
$Topiccolor: #63bc8a;
// * {
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
//     font-family: 'Prompt', sans-serif;
// }

.area-content {
    background-color: $BGcolor;
    display: flex;
    height: 91vh;
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    // position: relative;
    flex-direction: column;

    .card {
        background-color: $Cardcolor;
        width: 500px;
        min-height: 600px;
        border-radius: 10px;
        box-shadow: 3px 3px 20px rgba(0,0,0,0.25);
        padding: 10px;
        overflow: hidden;
        margin-top: 30px;

        // position: fixed;

        h1 {
            // color: $BGcolor;
            color: #63bc8a;
            margin-top: 5px;
        }

        .content {
            width: 100%;
            height: 500px;
            border-radius: 20px;
            // border-top: 2px solid rgb(204, 204, 204);
            overflow: hidden;

            overflow-y: scroll;

            padding: 5px;

            .content-item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                height: 50px;
                background-color: #f7f7f7;
                text-decoration: none;
                color: black;
                border-radius: 10px;
                margin: 3px;

                .box-l {
                    display: flex;
                    text-align: center;
                    align-items: center;
                    justify-content: center;

                .bg-icon {
                    width: 40px;
                    display: flex;
                    text-align: center;
                    align-items: center;
                    justify-content: center;
                    height: 40px;
                    margin: 5px;
                    margin-right: 10px;
                    background: #e4e6eb;
                    color: #050505;
                    border-radius: 20px;
                    text-decoration: none;

                    ion-icon {
                        font-size: 1.6rem;
                    }
                }}

                .box-l.active {
                    .bg-icon {background: rgb(247, 225, 162);}
                    ion-icon {color: #e4ab00;}
                }

                #icon-more {
                    margin: 10px;
                    font-size: 1.2rem;
                }

                #icon-more.active {
                    transform: rotate(180deg);
                    color: #cfa420;
                }
            }

            .content-item:hover {
                background-color: rgb(241, 241, 241);
                .bg-icon {
                    background-color: #cfd2d8;
                }
            }

            .content-item.active {
                // background: #85ebb3;
                background: #fff1c8;
            }

            .content-item.active:hover {
                // background: #6fe2a3;
                background: #ffeebd;
                .bg-icon {background: rgb(238, 217, 154);}
            }

            li {
                display: flex;
                align-items: center;
                // padding: 10px;
                padding-left: 50px;
                list-style: none;
                background-color: #fff9e6;
                border-radius: 10px;
                height: 0px;
                overflow: hidden;
                margin: 3px;
                text-align: start;

                h4 {
                    margin-top: 5px;
                    color: black;
                    margin-left: 20px;
                }

                p{
                    color: gray;
                    margin-left: 30px;
                    margin-bottom: 5px;
                }

                ion-icon{
                    color: #ffbf00;
                    font-size: 1.3rem;
                }

                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 25px;
                }
            }

            li.active {
                height: 65px;
            }
        }
    }

    // ====================================================
    .zone {

        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-bottom: 20px;
        margin: 10px;
        h1 {
            color: $Topiccolor;
        }

    .card-slide-area {
        width: 100%;
        padding: 10px;
        // background-color: purple;
        display: flex;
        justify-content: center;
        align-items: center;
        .swiper-container {
            width: 80%;
            overflow: hidden;
            .swiper-button-next {
                right: -10px;
            }
        }
    }

    .swiper-slide {
        min-width: 150px;
        text-align: center;
        font-size: 18px;
        background: #fff;
        border-radius: 10px;
        overflow: hidden;
        
        // Center slide text vertically
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;

        .news-card {
            img {
                width: 100%;
            }

            .news-topic {
                color: $Topiccolor;
                padding: 10px;
            }

            .details {
                color: gray;
                padding: 10px;
            }

            .read-more {
                position: relative;
                display: inline-block;
                padding: 5px 10px;
                background: $Topiccolor;
                color: $Cardcolor;
                border-radius: 15px;
                text-decoration: none;
                margin-top: 10px;
                margin-bottom: 10px;
                transition: 100ms;
            }

            .read-more:hover {
                background: #56cc89;
            }

        }
    }
    .swiper-pagination-bullet {
            background-color: $Topiccolor; //เปลี่ยนสีจุด
        }
    }

    .swiper-pagination {
        position: relative;
        margin-top: 10px;
    }

    .swiper-button-next, .swiper-button-prev {
        color: $Topiccolor; //เปลี่ยนสีลูกศร
    }

    .swiper-button-next{
        margin-right: 20px;
    }

    .swiper-button-prev{
        margin-left: -10px;
    }

    .swiper-button-next:hover, .swiper-button-prev:hover {
        color: #63d193; //เปลี่ยนสีลูกศร
    }

    .swiper-pagination-bullet {
        background-color: $Topiccolor; //เปลี่ยนสีจุด
    }

    .swiper-3d .swiper-slide-shadow-left, 
    .swiper-3d .swiper-slide-shadow-right {
        background-image: none;
    }

    .swiper-container2 {
        width: 100%;
        // background-color: purple;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .swiper-wrapper {
            .swiper-slide {
                // display: -webkit-box;
                // display: -ms-flexbox;
                // display: -webkit-flex;
                // display: flex;
                // -webkit-box-pack: center;
                // -ms-flex-pack: center;
                // -webkit-justify-content: center;
                // justify-content: center;
                // -webkit-box-align: center;
                // -ms-flex-align: center;
                // -webkit-align-items: center;
                // align-items: center;
                .banner {width: 100%;}
            }
            .swiper-pagination-bullet {
                background-color: $Topiccolor; //เปลี่ยนสีจุด
            }
        }
        .swiper-pagination {
            position: relative;
            margin-top: -20px;
        }
    }
}
