@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');

/* mhealthblog and uhealthblog and healthblog and mnews and unews and news */

// $BGcolor:#63bc8a;
$BGcolor:#f4f4f4;
$Cardcolor:white;
$labelcolor:#F2DC99;
$Topiccolor: #63bc8a;
// * {
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
//     font-family: 'Prompt', sans-serif;
// }

.area-content {
    background-color: $BGcolor;
    display: flex;
    height: 91vh;
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    // position: relative;
    flex-direction: column;

    .bold {
        font-size: 1.3rem;
        margin-bottom: 15px;
        font-weight: bold;
        color: $Topiccolor;

    }

    .header-mhor-menu {
        display: flex;
        margin: 15px;
        width: 90%;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        padding: 10px;

        .group-r {
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            a {
                margin: 5px;
            }
        }

        .group-l {
            h2 {
                color: $Topiccolor;
            }
            .no-dec {
                background-color: transparent;
                h4 {
                    color: rgb(172, 172, 172);
                    transition: 100ms;
                }
            }

            .no-dec:hover {
                h4 {
                    color: gray;
                }
            }
            
        }
        

        form {
            display: flex;
            

            input {
                // border: transparent;
                width: 20vw;
                border: 2px solid $Topiccolor;
                border-right: transparent;
                background-color: $Cardcolor;
                border-bottom-left-radius: 20px;
                border-top-left-radius: 20px;
                padding: 5px;
            }


            button {
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                padding: 5px;
                padding-right: 10px;
                background: $Topiccolor;
                color: white;
                transition: 100ms;
                border: 2px solid $Topiccolor;
                border-bottom-right-radius: 20px;
                border-top-right-radius: 20px;

                ion-icon {
                    font-size: 1.2rem;
                }
            }

            button:hover {
                background: #56cc89;
                border: 2px solid #56cc89;
            }
        }
        a {
            position: relative;
            display: inline-block;
            padding: 5px 20px;
            background: $Topiccolor;
            color: $Cardcolor;
            border-radius: 15px;
            text-decoration: none;
            margin-top: 10px;
            margin-bottom: 10px;
            transition: 100ms;
        }

        a:hover {
            background: #56cc89;
        }
    }

    .mhor-card-area-all {
        margin: 0 auto;
        width: 80%;
        margin-bottom: 20px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
        // background-color: rgb(177, 138, 216);

        .mhor-card {
            background-color: $Cardcolor;
            border-radius: 10px;
            overflow: hidden;
            
            img {
                width: 150px;
                height: 150px;
                border-radius: 75px;
                margin: 20px;
            }

            .news-topic {
                color: $Topiccolor;
                padding: 10px;
            }

            .details {
                color: gray;
                padding: 10px;

                .bold {
                    font-weight: bold;
                }
            }

            .read-more {
                position: relative;
                display: inline-block;
                padding: 5px 10px;
                background: $Topiccolor;
                color: $Cardcolor;
                border-radius: 15px;
                text-decoration: none;
                margin: 15px;
                transition: 100ms;
            }

            .read-more:hover {
                background: #56cc89;
            }

        }
    }
}

@media screen and (min-width: 600px){
    .area-content {
        .mhor-card-area-all {
            grid-template-columns: repeat(2,1fr);
        }
    }
}

@media screen and (min-width: 900px){
    .area-content {
        .mhor-card-area-all {
            grid-template-columns: repeat(3,1fr);
        }
    }
}