@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');

// $BGcolor:#63bc8a;
$BGcolor:#f4f4f4;
$Cardcolor:white;
$labelcolor:#F2DC99;
$Topiccolor: #63bc8a;
// * {
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
//     font-family: 'Prompt', sans-serif;
// }

.area-content {
    background-color: $BGcolor;
    display: flex;
    height: 91vh;
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    // position: relative;
    flex-direction: column;

    .profile-zone {
        width: 90%;
        background-color: $Cardcolor;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        min-height: 250px;

        .box {
            width: 100%;
            height: 20vh;
            background-color: $Topiccolor;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
            position: relative;

            .edit-pro {
                position: absolute;
                right: 2vw;
                top: 2vh;
                display: flex;
                align-items: center;
                text-decoration: none;
                color: black;
                background-color: $BGcolor;
                padding: 5px;
                padding-right: 10px;
                border-radius: 20px;
                font-weight: bold;
                transition: 300ms;
                box-shadow: 1px 1px 10px rgba(0,0,0,0.25);

                ion-icon {
                    font-size: 1.3rem;
                    margin: 5px;
                }
            }

            .edit-pro:hover {
                background-color: #e9e9e9;
            }

            .profile-content {
                position: absolute;
                top: 8vh;
                left: 10vw;
                display: flex;
                // border: 5px solid $BGcolor;
            
                img {
                    border: 5px solid $BGcolor;
                }

                .pro-d {
                    position: absolute;
                    top: 12vh;
                    left: 24vw;
                    margin-left: 20px;

                    .name-group{
                        display: flex;
                        justify-content: left;
                        align-items: center;
                        text-align: center;
                    }

                    h2{
                        margin-left: 10px;
                    }

                    .mail {
                        position: absolute;
                        top: 4vh;
                        padding-left: 10px;
                    }

                    .phone {
                        position: absolute;
                        top: 6vh;
                        padding-left: 10px;
                    }
                }
            }
            .mypack {
                position: absolute;
                right: 2vw;
                bottom: -13vh;
                display: flex;
                align-items: center;
                text-decoration: none;
                color: white;
                background-color: #54a879;
                padding: 5px;
                padding-right: 10px;
                border-radius: 20px;
                font-weight: bold;
                transition: 300ms;
                box-shadow: 1px 1px 10px rgba(0,0,0,0.15);
                ion-icon {
                    font-size: 1.3rem;
                    margin: 5px;
                }
            }

            .mypack:hover {
                background-color: $Topiccolor;
            }
        }    
    }

    .app-card-area-all {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        width: 100%;
        padding: 5px;
        padding-bottom: 20px;
        // background-color: pink;

        .app-topic {
            color: $Topiccolor;
        }

        .app-item {
            width: 80%;
            min-width: 400px;
            max-width: 1000px;
            min-height: 100px;
            background-color: white;
            padding: 10px;
            border-radius: 10px;
            margin: 5px;
            
            .head {
                padding: 5px;
                display: flex;
                justify-content: space-between;
                align-items: top;
                text-align: center;
                // background-color: yellowgreen;

                .group-l {
                    padding-left: 5px;
                    justify-content: left;
                    text-align: left;
                    

                    h3 {
                        font-size: 1rem;
                    }

                    p {
                        color: rgb(160, 160, 160);
                        font-size: 0.9rem;
                    }
                }

                .group-r {
                    width: 25px;
                    height: 25px;
                    border-radius: 30px;
                    border: none;
                    background-color: white;
                    ion-icon {
                        color: gray;
                        font-size: 1.7rem;
                        transition: 300ms;
                    }
                }
                .group-r:hover {
                    ion-icon {
                        color: red;
                    }
                }
            }

            .details {
                text-align: center;
                padding: 10px;
            }
        }
    }
}
