{% extends "doctors/layout.html" %}
{% load static %}

{% block content %}

        <div class="card">
            <h1>About</h1>

            <div class="content">

                <a href ="{% url 'doctors:project_requirement' %}" class="content-item">
                    <div class="box-l">
                    <div class="bg-icon">
                        <ion-icon name="document"></ion-icon>
                    </div>
                    <h4>ไฟล์ข้อเสนอ</h4>
                    </div>
                </a>

                <a href ="https://www.pivotaltracker.com/projects/2536279" class="content-item">
                    <div class="box-l">
                    <div class="bg-icon">
                        <ion-icon name="analytics"></ion-icon>
                    </div>
                    <h4>Tracker</h4>
                    </div>
                </a>

                <a href ="https://github.com/FPPY/FPPY.github.io" class="content-item">
                    <div class="box-l">
                    <div class="bg-icon">
                        <ion-icon name="logo-github"></ion-icon>
                    </div>
                    <h4>GitHub Repositories</h4>
                    </div>
                </a>

                <a href ="#" class="content-item">
                    <div class="box-l">
                    <div class="bg-icon">
                        <ion-icon name="logo-youtube"></ion-icon>
                    </div>
                    <h4>Youtube [Unavailable]</h4>
                    </div>
                </a>

                <a href ="#" class="content-item" id="mem-tab" onclick="showMember();">
                    <div class="box-l" id="box-l">
                    <div class="bg-icon">
                        <ion-icon name="people"></ion-icon>
                    </div>
                    <h4>รายชื่อสมาชิก</h4>
                    </div>
                    <ion-icon name="chevron-down" id="icon-more"></ion-icon>
                </a>
                <li class="member-item">
                    <!--<ion-icon name="person"></ion-icon>-->
                    <img src="{% static 'images/few.jpg' %}">
                    <div class="mem-content">
                    <h4>นาย พุฒิพงศ์ เรืองสันติกรกุล</h4>
                    <p>6210520117</p>
                    </div>
                </li>
                <li class="member-item">
                    <!--<ion-icon name="person"></ion-icon>-->
                    <img src="{% static 'images/pie.jpg' %}">
                    <div class="mem-content">
                    <h4>นาย ปราโมทย์ ศิริภาพ</h4>
                    <p>6210530017</p>
                    </div>
                </li>
                <li class="member-item">
                    <!--<ion-icon name="person"></ion-icon>-->
                    <img src="{% static 'images/prim.jpg' %}">
                    <div class="mem-content">
                    <h4>นางสาว ธัญพร ตั้งเจริญจิตกุล</h4>
                    <p>6210612641</p>
                </div>
                </li>
                <li class="member-item">
                    <!--<ion-icon name="person"></ion-icon>-->
                    <img src="{% static 'images/yok.jpg' %}">
                    <div class="mem-content">
                    <h4>นางสาว กชมล อัครเบญจสิริ</h4>
                    <p>6210612666</p>
                </div>
                </li>
            </div>
        </div>


{% endblock %}