{% extends "doctors/layout.html" %}
{% load static %}

{% block content %}

<img src =" {{request.user.patient.profile_pic.url}}" style="height:150px;width:150px;border-radius:50%" >

<form method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" name ="Update Information">
</form>

            <!-- <h1>Edit Profile</h1>
                {% if data.profile_pic %}
                <img src="{{data.profile_pic}}" style="height:150px;width:150px;border-radius:50%">
                {% else %}
                <img src="{% static 'images/pic.jg' %}" style="height:150px;width:150px;border-radius:50%">
                {% endif %}
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                            <label>First Name</label>
                            <input type="text" class="form-control" name="fname" placeholder="Enter First Name" value="{{user.First_name}}">

                            <label>Last Name</label>
                            <input type="text" class="form-control" name="lname" placeholder="Enter Last Name" value="{{user.Last_name}}">

                            <label>Email</label>
                            <input type="email" class="form-control" name="email" placeholder="Enter Email" value="{{user.email}}">

                            <label>Profile Picture</label>
                            <input type="file" class="form-control" name="image" value="{{user.profile_pic}}">


                    <input type="submit" name="changeprofile" value="Save Changes" href="{% url 'doctors:profile' %}">
                    <a href="{% url 'doctors:profile' %}" >Back to Profile</a>
            </form> -->

{% endblock %}