{% extends "doctors/layout.html" %}
{% load static %}

{% block head %}
    <link rel="Stylesheet" href="{% static 'css/style-appointment.css' %}">

    <script src="{% url 'js-catlog' %}"></script>
    <script src="{% static '/admin/js/core.js' %}"></script>
    <link rel="stylesheet" href="{% static 'admin/css/widgets.css' %}">
{% endblock %}

{% block content %}

<div class="appointment-card">

    <h2 class="app-header">นัดหมายแพทย์</h2>

    {% for message in messages %}
        <div class="warn">{{message}}</div>
    {% endfor %}

    <div class="d-name">
        <h3 class="label">ชื่อแพทย์</h3>
        <h3 class="name">{{doctor.First_name}} {{doctor.Last_name}}</h3>
    </div>

    <form method="POST" action="" >
        {% csrf_token %}
        
        <div class="date-zone">
            <h3 class="label">วันเดือนปีที่นัด</h3>
            {{ form.media }}
            {{ form.date_input }}
        </div>

        <div class="symptom">
            <h3 class="label">อาการ</h3>
            {{ form.symptom }}
        </div>

        <input type="submit" name="Create User" class="btn">
    </form>

</div>

{% endblock %}
