{% extends "doctors/layout.html" %}
{% load static %}

{% block head %}
    <link rel="Stylesheet" href="{% static 'css/style-addarticle.css' %}">

    <script src="{% url 'js-catlog' %}"></script>
    <script src="{% static '/admin/js/core.js' %}"></script>
    <!--<link rel="stylesheet" href="{% static 'admin/css/base.css' %}">    สีเปลี่ยนเพราะตรงนี้-->
    <link rel="stylesheet" href="{% static 'admin/css/widgets.css' %}">
{% endblock %}

{% block content %}


    <form method="POST" action="" >
            {% csrf_token %}

        <!--<h5>name</h5>-->
        <!--{{ date.your_name }}-->
        <h5>วันเดือนปีที่นัด</h5>
        {{ form.media }}
        {{ form.date_input }}
        <h5>อาการ</h5>
        {{ form.symptom }}

         <input type="submit" name="Create User" class="btn">
    </form>

{% endblock %}
