{% extends "doctors/layout.html" %}
{% load static %}

{% block head %}
    <link rel="Stylesheet" href="{% static 'css/style-dprofile.css' %}">
{% endblock %}

{% block content %}
<div class="doctor-card">
    <div class="zone-l">
        <div class="doc-img">
            <img src="{{doctor.profile_pic.url}}" alt="" srcset="">
        </div>
        <div class="button-zone">
            <a href="#" class="app-butt">
                <ion-icon name="calendar"></ion-icon>
                <p>นัดหมายแพทย์</p>
            </a>
        </div>
    </div>
    <div class="zone-r">
        <div class="name">
            <h3>{{doctor.First_name}} {{doctor.Last_name}}</h3>
            {% if request.user.is_superuser %} 
            <a href="#">แก้ไข</a>       
            {% endif %}
        </div>

        <div class="xpert">
            <h3>ความชำนาญ</h3>
            <p>อายุรศาสตร์ทั่วไป</p>
            <p>ไตวิทยา</p>
        </div>

        <div class="lang">
            <h3>ข้อมูลติดต่อ</h3>
            <p>{{doctor.phone}}</p>
            <p>{{doctor.email}}</p>
        </div>

        <div class="schedule">
            <table class="content-table">
                <thead>
                    <tr>
                        <th>วัน</th>
                        <th>เวลา</th>
                        <th>สถานที่</th>
                    </tr>
                </thead>

                <tbody>
                    
                    <tr>
                        <td>MON</td>
                        <td>09.00-12.00</td>
                        <td>ที่นั่นแหละ Lorem ipsum dolor sit amet.</td>
                    </tr>

                    <tr>
                        <td>MON</td>
                        <td>13.00-16.00</td>
                        <td>ที่นั่นแหละ Lorem ipsum dolor sit amet.</td>
                    </tr>

                    <tr>
                        <td>TUE</td>
                        <td>09.00-12.00</td>
                        <td>ที่นั่นแหละ Lorem ipsum dolor sit amet.</td>
                    </tr>

                    <tr>
                        <td>TUE</td>
                        <td>13.00-16.00</td>
                        <td>ที่นั่นแหละ Lorem ipsum dolor sit amet.</td>
                    </tr>

                    <tr>
                        <td>WED</td>
                        <td>09.00-12.00</td>
                        <td>ที่นั่นแหละ Lorem ipsum dolor sit amet.</td>
                    </tr>

                    <tr>
                        <td>WED</td>
                        <td>13.00-16.00</td>
                        <td>ที่นั่นแหละ Lorem ipsum dolor sit amet.</td>
                    </tr>

                    <tr>
                        <td>THU</td>
                        <td>09.00-12.00</td>
                        <td>ที่นั่นแหละ Lorem ipsum dolor sit amet.</td>
                    </tr>

                    <tr>
                        <td>THU</td>
                        <td>13.00-16.00</td>
                        <td>ที่นั่นแหละ Lorem ipsum dolor sit amet.</td>
                    </tr>

                    <tr>
                        <td>FRI</td>
                        <td>09.00-12.00</td>
                        <td>ที่นั่นแหละ Lorem ipsum dolor sit amet.</td>
                    </tr>

                    <tr>
                        <td>FRI</td>
                        <td>13.00-16.00</td>
                        <td>ที่นั่นแหละ Lorem ipsum dolor sit amet.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>    

{% endblock %}

<!-- primversion -->
        <!-- <h3>INFOMATION</h3>
        <img src="{{doctor.profile_pic.url}}">
        <h5>{{doctor.First_name}} {{doctor.Last_name}}</h5>
        <h5>{{doctor.phone}}</h5>
        <h5>{{doctor.email}}</h5>
        {% if request.user.is_superuser %} 
        
        {% endif %} -->
