{% extends "doctors/layout.html" %}
{% load static %}

{% block head %}
<link rel="Stylesheet" href="{% static 'css/style-dprofile.css' %}">
{% endblock %}

{% block content %}

    <div class="doctor-card">
        <div class="zone-l">
            <div class="doc-img">
                <img src="{% static 'images/pic.jpg' %}" alt="" srcset="">
            </div>
            <div class="button-zone">
                <a href="#" class="app-butt">
                    <ion-icon name="calendar"></ion-icon>
                    <p>นัดหมายแพทย์</p>
                </a>
            </div>
        </div>
        <div class="zone-r">
            <div class="name">
                <h3>พญ. สสิธร รักสงบ</h3>
                <a href="#">แก้ไข</a>
            </div>

            <div class="xpert">
                <h3>ความชำนาญ</h3>
                <p>อายุรศาสตร์ทั่วไป</p>
                <p>ไตวิทยา</p>
            </div>

            <div class="lang">
                <h3>ภาษา</h3>
                <p>อังกฤษ</p>
                <p>ไทย</p>
            </div>

            <div class="schedule">
                <table class="content-table">
                    <thead>
                        <tr>
                            <th>วัน</th>
                            <th>เวลา</th>
                            <th>สถานที่</th>
                        </tr>
                    </thead>
    
                    <tbody>
                        
                        <tr>
                            <td>MON</td>
                            <td>09.00-12.00</td>
                            <td>ที่นั่นแหละ Lorem ipsum dolor sit amet.</td>
                        </tr>
    
                        <tr>
                            <td>MON</td>
                            <td>13.00-16.00</td>
                            <td>ที่นั่นแหละ Lorem ipsum dolor sit amet.</td>
                        </tr>

                        <tr>
                            <td>TUE</td>
                            <td>09.00-12.00</td>
                            <td>ที่นั่นแหละ Lorem ipsum dolor sit amet.</td>
                        </tr>

                        <tr>
                            <td>TUE</td>
                            <td>13.00-16.00</td>
                            <td>ที่นั่นแหละ Lorem ipsum dolor sit amet.</td>
                        </tr>

                        <tr>
                            <td>WED</td>
                            <td>09.00-12.00</td>
                            <td>ที่นั่นแหละ Lorem ipsum dolor sit amet.</td>
                        </tr>
    
                        <tr>
                            <td>WED</td>
                            <td>13.00-16.00</td>
                            <td>ที่นั่นแหละ Lorem ipsum dolor sit amet.</td>
                        </tr>

                        <tr>
                            <td>THU</td>
                            <td>09.00-12.00</td>
                            <td>ที่นั่นแหละ Lorem ipsum dolor sit amet.</td>
                        </tr>

                        <tr>
                            <td>THU</td>
                            <td>13.00-16.00</td>
                            <td>ที่นั่นแหละ Lorem ipsum dolor sit amet.</td>
                        </tr>

                        <tr>
                            <td>FRI</td>
                            <td>09.00-12.00</td>
                            <td>ที่นั่นแหละ Lorem ipsum dolor sit amet.</td>
                        </tr>

                        <tr>
                            <td>FRI</td>
                            <td>13.00-16.00</td>
                            <td>ที่นั่นแหละ Lorem ipsum dolor sit amet.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>    

{% endblock %}