{% extends "doctors/adlayout.html" %}
{% load static %}

{% block head %}
    <link rel="Stylesheet" href="{% static 'css/style-editarticle.css' %}">
{% endblock %}

{% block content %}

    <div class="header-news">
        <h2>{{ article.header }}</h2>
    </div>

    <img src="{% static 'images/pic.jpg' %}" alt="" class="img-blog">

    <div class="button-group">
        <a href="#" class="edit-button"><h3>แก้ไข</h3></a>
        
        <form action= "{% url 'doctors:deleteArticle' article.id %}" method="POST">
            {% csrf_token %}
        <button  type="submit" class="remove-button"><h3>ลบ</h3></button>
    </div>

    <p class="content-blog">{{ article.context }}</p>


{% endblock %}
