{% extends "doctors/layout.html" %}
{% load static %}

{% block head %}
    <link rel="Stylesheet" href="{% static 'css/style-editpackage.css' %}">
{% endblock %}

{% block content %}
<div class="add-healthblog-card">
    <div class="header-addhb">
        <h2>Edit Package</h2>
    </div>

        <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="addhead-blog">
                <h5>Header</h5>
                {{ form.name }}
                
            </div>

            <div class="addhead-blog">
                <h5>Price</h5>
                {{ form.price }}
            </div>


            <div class="addhead-blog">
                <h5>Details</h5>
                {{ form.desc }}
            </div>

            <div class="addhead-blog">
                <h5>Condition</h5>
                {{ form.cond }}
            </div>

            <div class="updatecontent-blog">
                <h5>Picture</h5>
                {{ form.img }}
            </div>
           

            <input type="submit" name="editpackage" class="btn epack">
        </form>

    </div>
{% endblock %}