{% extends "doctors/layout.html" %}
{% load static %}

{% block head %}
    <link rel="Stylesheet" href="{% static 'css/style-epromotion.css' %}">
{% endblock %}

{% block content %}
<div class="add-healthblog-card">
    <div class="header-addhb">
        <h2>Edit Package</h2>
    </div>

        <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="addhead-blog">
                <h5>Header</h5>
                {{ form.name }}
                {{ form.price }}
            </div>


            <div class="addhead-blog">
                <h5>Content</h5>
                {{ form.desc }}
                {{ form.cond }}
              
            </div>
            <div class="addcontent-blog">
                {{ form.img }}
            </div>
           

            <input type="submit" name="editpackage" class="btn">
        </form>

    </div>
{% endblock %}