{% extends "doctors/layout.html" %}
{% load static %}

{% block head %}
    <link rel="Stylesheet" href="{% static 'css/style-mhor.css' %}">
{% endblock %}

{% block content %}
<div class="header-mhor-menu">
    <h2>ค้นหาแพทย์โดยชื่อ</h2>    
    <a href="{% url 'doctors:spec' %}" class="read-more">ค้นหาแพทย์จากด้านที่เชี่ยวชาญ</a>
    <form>
        <input name="q" type="text" placeholder="doctor name or lastname" />
            <button>Search</button>
            </form>
</div>

<div class="mhor-card-area-all">
    {% for doctor in doctors %}
    <div class="mhor-card">
        <img src="{{doctor.profile_pic.url}}">
        <div class="news-topic">
            <h3>{{doctor.First_name}} {{doctor.Last_name}}</h3>
        </div>
        <div class="details">
            <p class="bold">ความเชี่ยวชาญ</p>
            <p>{{doctor.spec}}</p>
        </div>
        <a href="{% url 'doctors:docprofile' doctor.id %}" class="read-more">ข้อมูลแพทย์</a>
    </div>
    {% endfor %}
</div>
<!--<div class="header-mhor-menu">
<h2>ค้นหาแพทย์จากด้านที่เชี่ยวชาญ</h2>
</div>
<form >
  <label>Specialization</label>
  <select name="docname" >
    <option value="x">อายุรศาสตร์ทั่วไป</option>
    <option value="x">ศัลยแพทย์</option>
    <option value="x">จักษุแพทย์</option>
    <option value="x">จิตแพทย์</option>
    <option value="x">สูตินรีแพทย์</option>
    <option value="x">กุมารแพทย์</option>
    <option value="x">ทันตแพทย์</option>
    <option value="x">ศัลยแพทย์ออร์โธปิดิกส์</option>
  </select>
  <br><br>
  <input type="submit" value="Submit">
</form>-->
<!--primversion-->
    <!-- <form>
        <input name="q" type="text" placeholder="doctor name or lastname" />
            <button>Search</button>
            </form> -->
          
        <!-- End Search -->
        <!-- <h3>All Doctor</h3>
        {% for doctor in doctors %}
            <h5>{{doctor.First_name}} {{doctor.Last_name}}</h5>
            <a href="{% url 'doctors:docprofile' doctor.id %}">ดูประวัติ</a>
        {% endfor %} -->
{% endblock %}
