{% extends "doctors/layout.html" %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
{% endblock %}

{% block content %}
<div class="swiper-container2">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="{% static 'images/head1.jpg' %}" class="banner"></div>
        <div class="swiper-slide"><img src="{% static 'images/head2.jpg' %}" class="banner"></div>
        <div class="swiper-slide"><img src="{% static 'images/head3.jpg' %}" class="banner"></div>
    </div>
    <div class="swiper-pagination"></div>
</div>



<div class="zone">
    <h1>News</h1>
<div class="card-slide-area">

    <div class="swiper-container">
        <div class="swiper-wrapper">
        {% for new in news %}
            <div class="swiper-slide">
                <div class="news-card">
                    <img src="{{new.img.url}}">
                    <div class="news-topic">
                        <h3>{{ new.header }}</h3>
                    </div>
                    <div class="details">
                        <p>{{ new.context }}</p>
                    </div>
                    <a href="{% url 'doctors:news_content' new.id %}" class="read-more">อ่านเพิ่มเติม</a>
                </div>
            </div>
         {% endfor %}
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div> 
        <div class="swiper-pagination"></div>
    </div>
    </div>
</div>
<!-- ======================================================================================================= -->
<div class="zone">
<h1>บทความ</h1>
<div class="card-slide-area">

    <div class="swiper-container">
        <div class="swiper-wrapper">
        {% for article in articles %}
            <div class="swiper-slide">
                <div class="news-card">
                    <img src="{{article.img.url}}">
                    <div class="news-topic">
                        <h3>{{ article.header }}</h3>
                    </div>
                    <div class="details">
                        <p>{{ article.context }}</p>
                    </div>
                     <a href="{% url 'doctors:healthblog_content' article.id %}" class="read-more">อ่านเพิ่มเติม</a>
                </div>
            </div>
         {% endfor %}

        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div> 
        <div class="swiper-pagination"></div>
    </div>
    </div>
</div>

<!-- ======================================================================================================= -->

    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
        
        <script type="module">
            var swiper = new Swiper('.swiper-container', {
                effect: 'coverflow',
                
                coverflowEffect: {
                    rotate: 0,
                    stretch: 0,
                    depth: 0,
                },


            slidesPerView: 3,
            spaceBetween: 30,
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            keyboard: true,
            grabCursor: true,

            });
        </script>

        <script type="module">
            var swiper = new Swiper('.swiper-container2', {
                effect: 'coverflow',
                coverflowEffect: {
                    rotate: 0,
                    stretch: 0,
                    depth: 0,
                },
            slidesPerView: 1,
            spaceBetween: 0,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            autoplay: {
                delay: 2500,
                disableOnInteraction: false,
            },

            grabCursor: true,
            });
        </script>
{% endblock %}