<!-- <h3>login</h3>
<form method="POST" action="">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="submit">
</form>
{% if messages %}
          {% for message in messages %}
          <p id="messages">{{ message }}</p>
          {% endfor %}
{% endif %}
<a href={% url 'doctors:register' %} >register</a> -->

<!-- ==================== ใครเขียนข้างบนไม่รู้ มารยาทดี ไม่อยากลบ ฝากหยกจัดการที ข้างล่างนี่โยงไม่เป็นนะ 5555555 =================================== -->
{% load static %}

<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <script src="https://kit.fontawesome.com/a81368914c.js"></script>
        <link rel="Stylesheet" href="{% static 'css/style-login.css' %}">
    </head>
    <body>
        <div class="area-content">
            
            <div class="member-card">

                <div class="header">
                    <img src="{% static 'images/logo.png' %}" alt="" class="logo">
                    <p>membership</p>
                </div>

                <div class="container-card-login">
                    <form action="login.html">
                        <h2 class="title">Welcome</h2>
                           <div class="input-div one">
                              <div class="i">
                                      <i class="fas fa-user"></i>
                              </div>
                              <div class="div">
                                      <h5>Username</h5>
                                      <input type="text" class="input">
                              </div>
                           </div>
                           <div class="input-div pass">
                              <div class="i"> 
                                   <i class="fas fa-lock"></i>
                              </div>
                              <div class="div">
                                   <h5>Password</h5>
                                   <input type="password" class="input">
                           </div>
                        </div>
                        <input type="submit" class="btn" value="Login">
                    </form>
                </div>
            </div>
            <a href="#" class="signup_btn">Sign up</a>
        </div>
        <script type="text/javascript" src="{% static 'js/login.js' %}"></script>
    </body>
</html>