{% extends "doctors/adlayout.html" %}
{% load static %}

{% block head %}
    <link rel="Stylesheet" href="{% static 'css/style-customer.css' %}">
{% endblock %}

{% block content %}

    <div class="header-customer">
        <h2>ข้อมูลผู้ซื้อแพ็คเกจ</h2>
        <!-- <a href="#"><h3>เพิ่ม</h3></a> -->
    </div>

    <div class="containertable">
        <div class="table">
            <table class="content-table">
                <thead>
                    <tr>
                        <th>วันที่</th>
                        <th>ชื่อ-นามสกุล</th>
                        <th>สลิป</th>
                        <th>สถานะการสั่งซื้อ</th>
                    </tr>
                </thead>

                <tbody>
                    
                    <tr>
                        <td>21 ต.ค. 2021</td>
                        <td>นาย สมมติ ไม่มีอยู่จริง</td>
                        <td><a href="#">ดูสลิป</a></td>
                        <td>สั่งซื้อแล้ว</td>
                    </tr>

                    <tr>
                        <td>22 ต.ค. 2021</td>
                        <td>นาย สมมติ ไม่มีอยู่จริง</td>
                        <td><a href="#">ดูสลิป</a></td>
                        <td>ชำระแล้ว</td>
                    </tr>

                    <tr>
                        <td>23 ต.ค. 2021</td>
                        <td>นาย สมมติ ไม่มีอยู่จริง</td>
                        <td><a href="#">ดูสลิป</a></td>
                        <td>ชำระแล้ว</td>
                    </tr>

                    <tr>
                        <td>24 ต.ค. 2021</td>
                        <td>นาย สมมติ ไม่มีอยู่จริง</td>
                        <td><a href="#">ดูสลิป</a></td>
                        <td>ชำระแล้ว</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

{% endblock %}