{% extends "doctors/layout.html" %}
{% load static %}

{% block head %}
    <link rel="Stylesheet" href="{% static 'css/style-promotion.css' %}">
{% endblock %}

{% block content %}

    <div class="header-promotion-menu">
        <h2>แพ็คเกจและโปรโมชั่น</h2>
        {% if request.user.is_superuser %}
        <a href="{% url 'doctors:addPackage' %}"><h3>เพิ่ม</h3></a>
        {% endif %}
    </div>

    <div class="promotion-card-area-all">
        {% for i in packages %}
            <a href="{% url 'doctors:package_content' i.id %}" class="promotion-card">
                <!-- <i>Hot</i> -->
                <img src="{{i.img.url}}">
                <h3>{{i.name}}</h3>
                <div class="details">
                    <p>{{i.desc}}</p>
                </div>
                <h3>{{i.price}}</h3>
            </a>
            {% endfor %}
            
    </div>

{% endblock %}