{% extends "doctors/layout.html" %}
{% load static %}

{% block head %}
    <link rel="Stylesheet" href="{% static 'css/style-profile.css' %}">
{% endblock %}

{% block content %}

    <div class="profile-zone">
        <div class="box">
            <a href="{% url 'doctors:editprofile' %}" class="edit-pro">
                <ion-icon name="create-outline"></ion-icon>
                Edit Profile
            </a>
            <div class="profile-content">
        {% if data.profile_pic %}
            <img src="/media/{{data.profile_pic}}" style="height:150px;width:150px;border-radius:50%">
        {% else %}
            <img src="{% static 'images/pie.jpg' %}" style="height:150px;width:150px;border-radius:50%">
        {% endif %}
        <div class="pro-d">
            <div class="name-group">
                <h2>{{ request.user.first_name }}</h2>
                <h2>{{ request.user.last_name }}</h2>
            </div>

            <p class="mail">{{ request.user.email }}</p>
        </div>
        </div>
        </div>
    </div>
{% endblock %}