{% extends "doctors/layout.html" %}
{% load static %}

{% block head %}
    <link rel="Stylesheet" href="{% static 'css/style-profile.css' %}">
{% endblock %}

{% block content %}

    <div class="profile-zone">
        <div class="box">
            <a href="{% url 'doctors:accsetting' %}" class="edit-pro">
                <ion-icon name="create-outline"></ion-icon>
                Edit Profile
            </a>
            <div class="profile-content">
        <img src =" {{request.user.patient.profile_pic.url}}" style="height:150px;width:150px;border-radius:50%" >      
        <div class="pro-d">
            <div class="name-group">
                <h2>{{ request.user.patient.First_name }} 
                    {{ request.user.patient.Last_name }}</h2>
            </div>
            <p class="phone">{{ request.user.patient.phone }}</p>
            <p class="mail">{{ request.user.patient.email }}</p>
        </div>
        </div>
        </div>
    </div>
{% endblock %}