{% extends "doctors/layout.html" %}
{% load static %}

{% block head %}
    <!-- <link rel="Stylesheet" href="{% static 'css/style-profile.css' %}"> -->
    <link rel="Stylesheet" href="{% static 'css/style-uprofile.css' %}">
{% endblock %}

{% block content %}

    <div class="profile-zone">
        <div class="box">
                <a href="{% url 'doctors:accsetting' %}" class="edit-pro">
                    <ion-icon name="create-outline"></ion-icon>
                    Edit Profile
                </a>
            <div class="profile-content">
                <img src =" {{request.user.patient.profile_pic.url}}" style="height:150px;width:150px;border-radius:50%" >
                <div class="pro-d">
                    <div class="name-group">
                        <h2>{{ request.user.patient.First_name }}</h2>
                        <h2>{{ request.user.patient.Last_name }}</h2>
                    </div>
                    <p class="phone">{{ request.user.patient.phone }}</p>
                    <p class="mail">{{ request.user.patient.email }}</p>

                </div>
            </div>
            <a href="{% url 'doctors:mypack' %}" class="mypack">
                <ion-icon src="{% static 'svg/gift.svg' %}"></ion-icon>
                My pack
            </a>
        </div>
    </div>

    <div class="app-card-area-all">
        <!-- <div class="app-topic">
            <h2>Appointment</h2>
        </div> -->

        {% for app in appointment %}
        <div class="app-item">
            <div class="head">
                <div class="group-l">
                    <h3 class="doc-name">หมอ: {{ app.Doctor_id }}</h3>
                    <p class="date">นัดวันที่: {{ app.dateapp }}</p>
                </div>
                <form action= "#" method="POST">
                    {% csrf_token %}
                <button type="submit"  class="group-r">
                    <ion-icon name="close-outline"></ion-icon>
                </button>
            </div>
            <div class="details">อาการ: {{ app.symptom }}</div>
        </div>
        {% endfor %}

    </div>

{% endblock %}