{% extends "doctors/layout.html" %}
{% load static %}

{% block head %}
    <link rel="Stylesheet" href="{% static 'css/style-mhor.css' %}">
{% endblock %}

{% block content %}
<div class="header-mhor-menu">
    <div class="group-l">
        <h2>รายชื่อแพทย์ตามสาขา</h2>
        <a href="{% url 'doctors:finddoc' %}" class="no-dec"><h4>ค้นหาแพทย์จากชื่อ</h4></a>
    </div>

    <div class="group-r">
        {% if request.user.is_superuser %}
        <a href="{% url 'doctors:mappointment' %}"><h3>ประวัติการนัดพบแพทย์</h3></a>
        <a href="{% url 'doctors:addDoc' %}"><h3>เพิ่ม</h3></a>
        {% endif %}
    </div>
</div>

<p class="bold">อายุรศาสตร์ทั่วไป</p>
<div class="mhor-card-area-all">
    {% for doctor in list1 %}
    <div class="mhor-card">
        <img src="{{doctor.profile_pic.url}}">
        <div class="news-topic">
            <h3>{{doctor.First_name}} {{doctor.Last_name}}</h3>
        </div>
        <div class="details">
            <p class="bold">ความเชี่ยวชาญ</p>
            <p>{{doctor.spec}}</p>
        </div>
        <a href="{% url 'doctors:docprofile' doctor.id %}" class="read-more">ข้อมูลแพทย์</a>
    </div>
    {% endfor %}
</div>

<p class="bold">ศัลยแพทย์ออร์โธปิดิกส์</p>
<div class="mhor-card-area-all">
    {% for doctor in list2 %}
    <div class="mhor-card">
        <img src="{{doctor.profile_pic.url}}">
        <div class="news-topic">
            <h3>{{doctor.First_name}} {{doctor.Last_name}}</h3>
        </div>
        <div class="details">
            <p class="bold">ความเชี่ยวชาญ</p>
            <p>{{doctor.spec}}</p>
        </div>
        <a href="{% url 'doctors:docprofile' doctor.id %}" class="read-more">ข้อมูลแพทย์</a>
    </div>
    {% endfor %}
</div>

<p class="bold">จักษุแพทย์</p>
<div class="mhor-card-area-all">
    {% for doctor in list3 %}
    <div class="mhor-card">
        <img src="{{doctor.profile_pic.url}}">
        <div class="news-topic">
            <h3>{{doctor.First_name}} {{doctor.Last_name}}</h3>
        </div>
        <div class="details">
            <p class="bold">ความเชี่ยวชาญ</p>
            <p>{{doctor.spec}}</p>
        </div>
        <a href="{% url 'doctors:docprofile' doctor.id %}" class="read-more">ข้อมูลแพทย์</a>
    </div>
    {% endfor %}
</div>

<p class="bold">จิตแพทย์'</p>
<div class="mhor-card-area-all">
    {% for doctor in list4 %}
    <div class="mhor-card">
        <img src="{{doctor.profile_pic.url}}">
        <div class="news-topic">
            <h3>{{doctor.First_name}} {{doctor.Last_name}}</h3>
        </div>
        <div class="details">
            <p class="bold">ความเชี่ยวชาญ</p>
            <p>{{doctor.spec}}</p>
        </div>
        <a href="{% url 'doctors:docprofile' doctor.id %}" class="read-more">ข้อมูลแพทย์</a>
    </div>
    {% endfor %}

</div>
<p class="bold">ทันตแพทย์</p>
<div class="mhor-card-area-all">
    {% for doctor in list6 %}
    <div class="mhor-card">
        <img src="{{doctor.profile_pic.url}}">
        <div class="news-topic">
            <h3>{{doctor.First_name}} {{doctor.Last_name}}</h3>
        </div>
        <div class="details">
            <p class="bold">ความเชี่ยวชาญ</p>
            <p>{{doctor.spec}}</p>
        </div>
        <a href="{% url 'doctors:docprofile' doctor.id %}" class="read-more">ข้อมูลแพทย์</a>
    </div>
    {% endfor %}
</div>

<p class="bold">สูตินรีแพทย์</p>
<div class="mhor-card-area-all">
    {% for doctor in list5 %}
    <div class="mhor-card">
        <img src="{{doctor.profile_pic.url}}">
        <div class="news-topic">
            <h3>{{doctor.First_name}} {{doctor.Last_name}}</h3>
        </div>
        <div class="details">
            <p class="bold">ความเชี่ยวชาญ</p>
            <p>{{doctor.spec}}</p>
        </div>
        <a href="{% url 'doctors:docprofile' doctor.id %}" class="read-more">ข้อมูลแพทย์</a>
    </div>
    {% endfor %}
</div>

<p class="bold">กุมารแพทย์</p>
<div class="mhor-card-area-all">
    {% for doctor in list7 %}
    <div class="mhor-card">
        <img src="{{doctor.profile_pic.url}}">
        <div class="news-topic">
            <h3>{{doctor.First_name}} {{doctor.Last_name}}</h3>
        </div>
        <div class="details">
            <p class="bold">ความเชี่ยวชาญ</p>
            <p>{{doctor.spec}}</p>
        </div>
        <a href="{% url 'doctors:docprofile' doctor.id %}" class="read-more">ข้อมูลแพทย์</a>
    </div>
    {% endfor %}
</div>

{% endblock %}
