{% extends "doctors/ulayout.html" %}
{% load static %}

{% block head %}
    <link rel="Stylesheet" href="{% static 'css/style-mhealthblog.css' %}">
{% endblock %}

{% block content %}

    <div class="header-news-menu">
        <h2>ข่าวทั้งหมด</h2>
        <!-- <a href="#"><h3>เพิ่ม</h3></a> -->
    </div>

    <div class="news-card-area-all">
        <div class="row">
            <div class="news-card">
                <img src="{% static 'images/pic.jpg' %}">
                <div class="news-topic">
                    <h3>หัวข้อข่าว1</h3>
                </div>
                <div class="details">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti, magni.</p>
                </div>
                <a href="{% url 'doctors:unews_one' %}" class="read-more">อ่านเพิ่มเติม</a>
            </div>

            <div class="news-card">
                <img src="{% static 'images/pic.jpg' %}">
                <div class="news-topic">
                    <h3>หัวข้อข่าว2</h3>
                </div>
                <div class="details">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti, magni.</p>
                </div>
                <a href="{% url 'doctors:unews_one' %}" class="read-more">อ่านเพิ่มเติม</a>
            </div>

            <div class="news-card">
                <img src="{% static 'images/pic.jpg' %}">
                <div class="news-topic">
                    <h3>หัวข้อข่าว3</h3>
                </div>
                <div class="details">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti, magni.</p>
                </div>
                <a href="{% url 'doctors:unews_one' %}" class="read-more">อ่านเพิ่มเติม</a>
            </div>
        </div>

        <div class="row">
            <div class="news-card">
                <img src="{% static 'images/pic.jpg' %}">
                <div class="news-topic">
                    <h3>หัวข้อข่าว4</h3>
                </div>
                <div class="details">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti, magni.</p>
                </div>
                <a href="{% url 'doctors:unews_one' %}" class="read-more">อ่านเพิ่มเติม</a>
            </div>

            <div class="news-card">
                <img src="{% static 'images/pic.jpg' %}">
                <div class="news-topic">
                    <h3>หัวข้อข่าว5</h3>
                </div>
                <div class="details">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti, magni.</p>
                </div>
                <a href="{% url 'doctors:unews_one' %}" class="read-more">อ่านเพิ่มเติม</a>
            </div>

            <div class="news-card">
                <img src="{% static 'images/pic.jpg' %}">
                <div class="news-topic">
                    <h3>หัวข้อข่าว6</h3>
                </div>
                <div class="details">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti, magni.</p>
                </div>
                <a href="{% url 'doctors:unews_one' %}" class="read-more">อ่านเพิ่มเติม</a>
            </div>
        </div>

        <div class="row">
            <div class="news-card">
                <img src="{% static 'images/pic.jpg' %}">
                <div class="news-topic">
                    <h3>หัวข้อข่าว7</h3>
                </div>
                <div class="details">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti, magni.</p>
                </div>
                <a href="{% url 'doctors:unews_one' %}" class="read-more">อ่านเพิ่มเติม</a>
            </div>

            <div class="news-card">
                <img src="{% static 'images/pic.jpg' %}">
                <div class="news-topic">
                    <h3>หัวข้อข่าว8</h3>
                </div>
                <div class="details">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti, magni.</p>
                </div>
                <a href="{% url 'doctors:unews_one' %}" class="read-more">อ่านเพิ่มเติม</a>
            </div>

            <div class="news-card">
                <img src="{% static 'images/pic.jpg' %}">
                <div class="news-topic">
                    <h3>หัวข้อข่าว9</h3>
                </div>
                <div class="details">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti, magni.</p>
                </div>
                <a href="{% url 'doctors:unews_one' %}" class="read-more">อ่านเพิ่มเติม</a>
            </div>
        </div>
    </div>

{% endblock %}