{% extends "doctors/layout.html" %}
{% load static %}

{% block head %}
    <link rel="Stylesheet" href="{% static 'css/style-addarticle.css' %}">
{% endblock %}

{% block content %}

        <div class="add-healthblog-card">
            <div class="header-addhb">
                <h2>Edit Article</h2>
            </div>

                <form method="POST" action="" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="addhead-blog">
                        <h5>Header</h5>
                        {{ form.header }}
                    </div>

                    <div class="addhead-blog">
                        <h5>Doctor</h5>
                        {{ form.doctor }}
                    </div>

                    <div class="addcontent-blog">
                        <h5>Content</h5>
                        {{ form.context }}
                    </div>

                    <div class="updatecontent-blog">
                        <h5>Picture</h5>
                        {{ form.img }}
                    </div>

                    <input type="submit" name="Create User" class="btn ea">
                </form>

            </div>
{% endblock %}